@charset "utf-8";
/**Column Banner Img**/
.BanAbout{background:url(img/ban_about.jpg) no-repeat center top #f5f7f9;}
.BanPro{background:url(img/ban_pro.jpg) no-repeat center top #f5f7f9;}
.BanSer{background:url(img/ban_ser.jpg) no-repeat center top #f5f7f9;}
.BanJoin{background:url(img/ban_join.jpg) no-repeat center top #f5f7f9;margin:-145px 0 0;}
.BanNetwork{background:url(img/ban_Network.jpg) no-repeat center top #f5f7f9;margin:-145px 0 0;}

/**Column body**/
.columnTop{width:960px;height:63px;margin:0 auto 10px auto;border:1px solid #D8DCDE;box-shadow:-2px 2px 3px #D8DCDE, 2px -2px 3px #D8DCDE; position:relative;background:url(img/bg63.gif) repeat-x;overflow:hidden;}
.columnTop .head{width:165px; height:63px;line-height:63px; text-align:center;color:#000;font-size:16px;background:url(img/bg06.gif) no-repeat;position:absolute;left:0;top:0;}
.columnTop .list{height:63px;}
.columnTop .list li{float:left;width:196px;border-left:solid 1px #e4e7e8; text-align:center;padding:0 0 10px 0;margin:4px 0 0;}
.columnTop .list li h4{line-height:28px;font-size:16px;color:#4d5053;}
.columnTop .list li p{font-size:14px;color:#7d8083;}

.columnAbout{width:960px;min-height:360px; height:auto!important; height:360px; overflow:visible;background:url(img/bgColumnAbout.jpg) no-repeat center top;}
.columnAbout .box{float:left;}
.columnAbout .box .head{line-height:50px;font-size:16px;color:#333;}
.columnAbout .more{color:#5f636c;padding:10px 0 0 0; display:block; font-weight:bold;}
.columnAbout h3{font-size:14px;color:#44474e;padding:0 0 5px 0;}
.columnAbout p{color:#5f636d; line-height:28px;}

.columnAbout .w1{width:222px;padding:24px 100px 0 29px; }
.columnAbout .w2{width:285px;padding:24px 50px 0 0; }
.columnAbout .w3{width:220px;padding:24px 0 0 0; }
.columnAbout .w3 p{ font-size:11px; line-height:28px;}

.columnJoin{height:502px;background:url(img/bgJoinColumn.jpg) no-repeat center 16px;}
.columnJoinPart{padding:16px 0 0;}
.columnJoin .Jsocial{width:900px; height:250px;float:left;display:inline;margin:0 0 0 30px;}
.columnJoin .Jsocial h1.head a{line-height:28px;font-size:16px;color:#000;font-weight:bold;}
.columnJoin .Jsocial table{width:900px;padding-left:2px}
.columnJoin .Jsocial th{ line-height:44px;}
.columnJoin .Jsocial td{line-height:30px;}

.columnJoin .Jsearch{width:284px; height:250px;padding:0 0 0 26px; float:left;}
.columnJoin .Jsearch h1.head,.columnJoin .Jsearch h1.head a{line-height:28px;font-size:16px;color:#000;font-weight:bold;}
.columnJoin .Jsearch table{padding:6px 0 0;}
.columnJoin .Jsearch .para{line-height:30px;}
.columnJoin .Jsearch td{padding:6px 0;}
.columnJoin .Jsearch .input{width:252px; height:28px;line-height:28px;color:#8d8d8d;background:url(img/bgJoinSearch.jpg) no-repeat; overflow:hidden;border:none;padding-left:12px;}
.columnJoin .Jsearch .submit{width:114px; height:34px;background:url(img/btn04.jpg) no-repeat;border:none;cursor:pointer;}

.columnJoin .JoinIndexBox{width:245px; height:175px;padding:0 38px 0 20px; float:left; display:inline; position:relative;}
.columnJoin .JoinIndexBox h1,.columnJoin .JoinIndexBox h1 a{line-height:25px;padding:15px 0 0;font-size:16px;color:#000;font-weight:bold;}
.columnJoin .JoinIndexBox h2{line-height:22px;font-weight:bold;color:#000;padding-bottom:12px;}
.columnJoin .JoinIndexBox p{line-height:24px;color:#5f636d;}
.columnJoin .JoinIndexBox .more{ display:block; position:absolute;bottom:0;color:#5f636d;}

.columnNet{width:900px; margin:0 auto;}
.columnNet .head{line-height:50px;font-size:16px;font-weight:bold;color:#333;background:url(img/bg07.gif) no-repeat left bottom;}
.columnNet .head a{color:#333;font-weight:bold;}
.columnNet .galleryCont{border-left:solid 1px #e7e7e7;border-right:solid 1px #e7e7e7;border-bottom:solid 1px #e7e7e7;padding:8px;height:258px;}
.columnNet .galleryCont .show{ width:316px; height:204px; position:relative;}
.columnNet .galleryCont .show .text{ width:100%; height:33px;color:#fff;line-height:33px; text-align:center; position:absolute;left:0;bottom:0; z-index:9;}
.columnNet .galleryCont .show .bg{width:100%; height:33px;position:absolute;left:0;bottom:0;background:#000;filter: alpha(opacity=70); opacity: 0.7; z-index:1;}
.columnNet .galleryCont .list{width:340px;padding:10px 0 0;}
.columnNet .galleryCont .listHide{width:316px; overflow:hidden;}
.columnNet .galleryCont .list li{margin:0 15px 0 0; display:inline; float:left;}
.columnNet .galleryCont .list li a{display:block;padding:1px;border:solid 1px #cccccc;}

.columnNet .copCont{height:121px;background:#f7f8f8;border-bottom:solid 1px #e8e9ea;margin-top:15px;}
.columnNet .copCont h5 a{line-height:48px;font-size:14px;color:#333;padding:0 0 0 10px;}
.columnNet .copCont .icon{padding:0 5px;}
.columnNet .copCont .icon img{border:solid 1px #d5dade;}

.columnNet .box{ float:left;display:inline;}
.columnNet .w1{width:334px; overflow:hidden;}
.columnNet .w2{width:285px;margin:0 25px;}
.columnNet .w2 .cont{padding:15px 0 0 0;color:#5f636d;}
.columnNet .w2 .cont p{color:#5f636d;}
.columnNet .w3{width:227px;}
.columnNet .w3 .cont{border-left:solid 1px #e7e7e7;border-right:solid 1px #e7e7e7;border-bottom:solid 1px #e7e7e7;}

.columnNet .w3 dl{background:url(img/bg24-2.gif) repeat-x bottom #fefefe;padding:16px 13px 30px 13px;}
.columnNet .w3 .right{width:88px; overflow:hidden;}
.columnNet .w3 .right h2 a{color:#000;}
.columnNet .w3 .right h3{color:#7f7f7f;}
.columnNet .w3 .img{display:block;padding:4px;border-right:solid 1px #cbcbcb;border-bottom:solid 1px #cbcbcb;}
.columnNet .w3 .clear{padding:8px 0;}
.columnNet .w3 .clear a{line-height:22px;color:#5f636d;}

.decoProBg{background:url(img/bg01.jpg) no-repeat center top;}
.decoProBg2{background:url(img/bg06.jpg) no-repeat center bottom;}
.listProBg{background:url(img/bg05.jpg) no-repeat center bottom;}
.listProBg2{background:url(img/bg07.jpg) no-repeat center top;}
.columnPro{width:960px;min-height:360px; height:auto!important; height:360px; overflow:visible;}
.columnPro .more{color:#5f636c;padding:10px 0 0 5px; display:block; font-weight:bold;}
.columnPro .box{float:left;margin:24px 0 0;}
.columnPro .box .head{font-size:16px;color:#333;padding:0 0 20px 5px;}
.columnPro h3{color:#5f636d; font-weight:bold;padding:0 5px 0;}
.columnPro .box .img268{ width:268px; height:170px;background:url(img/bgImg01.gif) no-repeat; display:block;}
.columnPro .box .img268 img{padding:3px 0 0 5px;}
.columnPro .box .img105{width:105px; height:80px;background:url(img/bgImg02.gif) no-repeat; display:block;} 
.columnPro .box .img105 img{ display:block; margin:0 auto;padding:3px 0 0 4px;}
.columnPro .box .img265{width:265px; height:135px;background:url(img/bgImg03.gif) no-repeat; display:block;} 
.columnPro .box .img265 img{padding:3px 0 0 5px;}
.columnPro .box .para{padding:0 5px 0;color:#5f636d;}
.columnPro .w1{width:268px;padding:0 19px 0 24px;}
.columnPro .w2{width:294px;padding:0 23px 0 20px; border-left:solid 1px #e1e2e3; border-right:solid 1px #e1e2e3;}
.columnPro .w3{width:265px;padding:0 26px 0 19px; overflow:hidden; position:relative;}
.columnPro .w2 .list li{padding-bottom:10px;}
.columnPro .w2 .list .img105{ float:left; display:inline;}
.columnPro .w2 .list .text{ width:176px; float:left; display:inline;margin:0 0 0 11px;}
.columnPro .w2 .list .detail{ display:block; width:156px; height:69px;padding:10px;line-height:16px;color:#fff;background:url(img/bgdetail.jpg) no-repeat;margin:3px 0 0;}

.columnPro .w3 .cont li{width:265px;}
.columnPro .w3 .prev{ width:18px; height:18px;position:absolute; top:0;right:48px;}
.columnPro .w3 .next{ width:17px; height:18px;position:absolute;top:0;right:31px;}

.columnSer{width:1056px;height:auto!important;}
.columnSer .box{float:left;margin:24px 0 0;}
.columnSer .box .head{font-size:16px;color:#333;padding:0 0 20px 0;}
.columnSer .w1n{width:1000px;padding:0 23px 0 29px;}
.columnSer .w1n p{line-height:20px; margin:5px; text-indent:0px;}
.columnSer .w1{width:198px;padding:0 23px 0 29px;}
.columnSer .w2{width:424px;padding:0 0 0 23px; border-left:solid 1px #e1e2e3; }
.columnSer .w3{width:200px;padding:0 26px 0 19px; }
.columnSer .more{color:#5f636c;padding:10px 0 0 0; display:block; font-weight:bold;}
.columnSer .w1 .tab{margin-top:20px;}
.columnSer .w1 .tab li{float:left; text-align:center;}
.columnSer .w1 .tab li .first{display:block;color:#fff;width:100px; height:45px;line-height:27px;background:url(img/bgTab.gif) no-repeat 0 -45px; cursor:pointer;}
.columnSer .w1 .tab li.focus .first{display:block;color:#555;width:100px; height:45px;line-height:27px;background:url(img/bgTab.gif) no-repeat 0 0;}
.columnSer .w1 .tab li .second{display:block;color:#fff;width:98px; height:45px;line-height:27px;background:url(img/bgTab.gif) no-repeat -100px 0;cursor:pointer;}
.columnSer .w1 .tab li.focus .second{display:block;color:#555;width:98px; height:45px;line-height:27px;background:url(img/bgTab.gif) no-repeat -100px -45px;}
.columnSer .w1 .list li{ height:62px;padding:8px 15px; overflow:hidden;}
.columnSer .w1 .bg01{background:url(img/bg02.jpg) repeat-x 0 0;}
.columnSer .w1 .bg02{background:url(img/bg02.jpg) repeat-x 0 -78px;}

.columnSer .w3 .cont{background:#fff; }
.cont1 img{ max-width:360px; }
.contzs p{width:980;}
.contimg{ max-width:360px; }

.columnSer .w3 dl dt{ color:#555;font-size:13px; height:35px;line-height:35px;background:url(img/bg03.jpg) no-repeat 0 0;padding:0 0 0 43px; cursor:pointer;}
.columnSer .w3 dl dt.focus{color:#000;font-size:13px; height:35px;line-height:35px;background:url(img/bg03.jpg) no-repeat 0 -35px;padding:0 0 0 43px; cursor:pointer;}
.columnSer .w3 dl dd{background:#fff; color:#000 }

.columnSer .w3 .para{display:block;width:170px;margin:0 auto;padding:10px 0; color:#000;}
.columnSer .w3 .more{padding:0 0 10px 15px;}

/**imgList style***/
.imgCont01{ width:904px; height:201px; margin:0 auto; overflow:hidden;zoom:1;}
.imgList01{ width:920px;}
.imgList01 li{ float:left; display:inline; width:170px; height:180px; overflow:hidden;background:#f5f6f8; border-bottom:solid 1px #e8ebed;margin:0 14px 29px 0; box-shadow:2px 2px 3px #ededed;}
.imgList01 li .img{ display:block;width:168px; height:114px;border-top:solid 0px #666f79;border-right:solid 0px #666f79;border-left:solid 0px #666f79;border-bottom:solid 5px #333;}
.imgList01 li .para{ display:block;padding:5px 15px;}
.imgList01 li .para a{color:#5f636d;}
.imgList01 li .para a:hover{ color:#000;}


.imgCont02{ width:960px;height:195px;margin:0 auto; overflow:hidden;}
.imgList02{padding:28px 0 0; overflow:hidden;_zoom:1;}
.imgList02 li{width:130px; float:left;display:inline;margin:0 0 0 50px;}
.imgList02 li .img{ display:block; margin:0 auto;}
.imgList02 li .para{text-align:center;}

.imgList03{width:700px;}
.imgList03 li{float:left;display:inline;width:150px; height:262px;background:url(img/bgMag.gif) no-repeat;margin:0 24px 32px 0;}
.imgList03 li .img{ display:block; margin:10px auto 5px auto;}
.imgList03 li p{display:block; width:128px;margin:0 auto;}
.imgList03 li .number{ background:url(img/icon3.gif) no-repeat right center;}
.imgList03 li .data{line-height:24px;font-family: Verdana, Geneva, sans-serif;}
.imgList03 li .data em{color:#cccccc;}

.imgCont04{ width:960px;height:218px;margin:0 auto; overflow:hidden;zoom:1;}
.imgList04{padding:10px 0 0;}
.imgList04 li{width:160px; float:left;display:inline;margin:0 0 0 27px;}
.imgList04 li .para{text-align:center;}

.imgCont05{ width:960px;height:137px;margin:29px auto 0 0; overflow:hidden;}
.imgList05{ width:990px;padding:0 0 0 12px; overflow:hidden;_zoom:1;}
.imgList05 li{width:122px; float:left;display:inline;margin:0 0 0 30px;}
.imgList05 li .img{ display:block; margin:0 auto;}
.imgList05 li .para {display:block;font-size:14px; height:35px;line-height:35px;text-align:center;}
.imgList05 li.hover .para,.imgList05 li a:hover .para{ color:#000;border-top:solid 2px #d11616;border-left:solid 1px #e2e2e7;border-right:solid 1px #e2e2e7;border-bottom:solid 1px #fff;background:#fff;}

.imgCont06{ width:960px;height:218px;margin:0 auto; overflow:hidden;zoom:1;}
.imgList06{padding:35px 0 0;}
.imgList06 li{width:130px; float:left;display:inline;margin:0 0 0 27px;}
.imgList06 li .para{text-align:center;}

.imgList07{margin:0px 0px 0; overflow:hidden;_zoom:1;}
.imgList07 li{width:196px; height:248px; overflow:hidden; float:left; display:inline; margin:0 12px 30px 12px;border:solid 1px #e4e8eb;box-shadow:0 3px 4px #f3f3f3;}
.imgList07 li .img{display:block;width:196px;height:129px;margin:0 auto;overflow:hidden;}
.imgList07 li h1 a{font-size:14px;color:#000;line-height:36px;padding:0 0 0 15px;font-weight:bold;}
.imgList07 li .para{line-height:22px;color:#5f636d; display:block;padding:0 10px 10px;}

.imgList08{margin:23px 35px 0; overflow:hidden;_zoom:1;}
.imgList08 li{width:186px; height:231px; overflow:hidden; float:left; display:inline; margin:0 6px 30px 6px;background:url(img/bgImg05.jpg) no-repeat; padding:10px 12px 0 12px; text-align:center;}
.imgList08 li .img{display:block;width:186px;height:120px;margin:0 auto;overflow:hidden;}
.imgList08 li h1{padding:7px 0;}
.imgList08 li h1 a{font-size:14px;color:#000;line-height:22px;font-weight:bold;}
.imgList08 li .para{line-height:22px;color:#5f636d; display:block;}

/**textList style***/
.textList01 li{padding:5px 0; border-bottom:dotted 1px #e5e5e5}
.textList01 h4{font-weight:bold;line-height:24px;}

/**listStyle**/
.listStyle{margin-top:0px;border-top:solid 1px #ebedee;}
.listStyle span{ height:auto;padding-top:3px; padding-bottom:3px;}
.listStyle li{padding:20px 0;border-bottom:solid 1px #ebedee; overflow:hidden;_zoom:1;}
.listStyle li.bg{background:#f5f7f9;}
.listStyle li .text{ width:530px; float:left;display:inline;margin:0 0 0 30px;overflow:hidden; line-height:24px;}
.listStyle li h1{ font-size:14px; font-weight:bold; color:#000000; margin-top:5px; margin-bottom:15px;}
.listStyle li .text h1 a{line-height:28px;font-size:16px;color:#111111;font-weight:bold;}
.listStyle li .text h5{color:#999;line-height:22px;padding:0 0 10px 0;}
.listStyle li .img{ float:right;margin:8px 41px 0 0;}
.listStyle li .imgl{ float:left;margin:8px 10px 0 40px;}

.listStyles{margin-top:10px; padding-left:20px;}
.listStyles li{padding:20px 0;border-bottom:solid 1px #ebedee; overflow:hidden;_zoom:1;}
.listStyles li.bg{background:#f5f7f9;}
.listStyles li .text{ width:530px; float:left;display:inline;margin:0 0 0 30px;overflow:hidden; line-height:24px;}
.listStyles li h1{ font-size:14px; font-weight:bold; color:#000000; margin-top:5px; margin-bottom:15px;}
.listStyles li .text h1 a{line-height:28px;font-size:16px;color:#111111;font-weight:bold;}
.listStyles li .text h5{color:#999;line-height:22px;padding:0 0 10px 0;}
.listStyles li .img{ float:right;margin:8px 41px 0 0;}
.listStyles li .imgl{ float:left;margin:8px 10px 0 40px;}


.listStyle2 li{padding:20px 0 0; overflow:hidden;_zoom:1;}
.listStyle2 li .text{ width:788px; float:right;display:inline;overflow:hidden;}
.listStyle2 li .text h1.head{display:block; height:43px;line-height:43px;background:url(img/bg05.gif) no-repeat; overflow:hidden;_zoom:1;}
.listStyle2 li .text h1.head .t{font-size:14px;padding:0 75px 0 33px; float:left;}
.listStyle2 li .text h1.head  em{ float:right;padding:0 22px 0 0;}
.listStyle2 li .text .cont{width:734px;border-left:solid 1px #f3e7c7;border-right:solid 1px #f3e7c7;border-bottom:solid 1px #f3e7c7;margin:0 0 0 12px;padding:10px 20px 20px 20px;background:#fffcf5;}
.cont p{width:100%;}
.cont1 p{width:990;}

.listStyle2 li .img{ float:left;width:88px; }
.listStyle2 li .img img{border:solid 1px #dddddd;}


.proList{width:900px;border-top:solid 1px #ebebeb; overflow:hidden;_zoom:1;background:url(img/bg370.gif) repeat;}
.proList li{ float:left;width:198px; height:300px;margin:20px 25px 20px 0;border:solid 1px #fff;position:relative}
.proList li .shao_top{position:absolute;top:0;left:0;z-index:999;width:53px;height:53px;}
.proList li .pronew{background:url(img/shao_pronew.gif) no-repeat 0 0;}
.proList li .prostop{background:url(img/shao_prostop.gif) no-repeat 0 0;}
.proList li .img{ display:block;margin:18px auto 0 auto;border:solid 1px #fff;}
.proList li .compare{display:block;width:160px; margin:0 auto;}
.proList li .compare .check{margin:12px 2px 0 0;}
.proList li .compare span{line-height:18px;margin:12px 0 0; display:block;}
.proList li .text{width:160px; margin:0 auto;}
.proList li .text h1 a{color:#d11616; font-weight:bold;}
.proList li .text p{color:#999}
.proList li.hover{border:solid 1px #dcdcdc;}

.dlList dt{line-height:30px;padding:0 0 0 20px;background:url(img/icon6.gif) no-repeat left center;font-size:14px;} 
.dlList dd{line-height:22px;}

.coopImglist{width:910px; margin:57px auto 0 auto;}
.coopImglist .bx_container{ float:left;}
.coopImglist li{border:solid 1px #d4dade;}
.coopImglist .prev{ float:left;padding:19px 12px 0 0;}
.coopImglist .next{ float:right;padding:19px 0 0;}

/***plug style**/
.plug_search{width:196px; height:26px;border:solid 1px #cbcbcb; overflow:hidden;_zoom:1;}
.plug_search .input{width:157px; height:26px;line-height:26px; color:#b2b2b2;border:none;border-right:solid 1px #cbcbcb;background:url(img/bgInput.gif) repeat-x; float:left; text-indent:10px;}
.plug_search .btn{width:38px; height:26px;background:url(img/btn03.jpg) no-repeat; float:left;border:none;cursor:pointer;}

/**special model**/
.searchModel .ByDate{width:500px; overflow:hidden;float:left;}
.searchModel .ByDate dt,.searchModel .ByDate dd{float:left;}
.searchModel .ByDate dd a{padding:0 7px;}
.searchModel .ByDate dd a:hover{color:#bb1b1b;}
.searchModel .searchFn{width:341px;overflow:hidden;}
.searchModel .searchFn .input{ width:236px;height:27px;line-height:27px;color:#b2b2b2; text-indent:10px;background:url(img/bg04.gif) no-repeat;border:none; float:left;}
.searchModel .searchFn .btn{width:100px; height:27px;background:url(img/btnSearch.gif) no-repeat;border:none;cursor:pointer;margin:0 0 0 5px;float:left;display:inline;}

.searchModel2{width:860px;margin:0 auto 20px auto; height:92px;background:#f9fafb;border:solid 1px #ebeff3;box-shadow:0px 4px 4px #f7f7f7;}
.searchModel2 .panel{width:710px; margin:0 auto;}
.searchModel2 .panel {line-height:30px;padding:20px 0 0; font-size:14px;}

.searchModel2 .panel .panelFields .text{width:482px; height:30px;border:none;background:url(img/bgsearchPanel.gif) no-repeat; float:left;}
.searchModel2 .panel .panelFields .btn{width:114px; height:30px;border:none;background:url(img/bgsearchPanel.gif) no-repeat -482px 0; float:left;}
.searchModel2 .search-hots{padding:0 0 0 170px;line-height:33px;}
.searchModel2 .search-hots a{padding-right:10px;}
.proSearchModel{width:878px; margin:37px auto 0 auto;}
.proSearchModel .head{line-height:35px;background:url(img/bg35.gif) repeat-x;}
.proSearchModel .head strong{padding:0 0 0 27px;font-size:14px;color:#000;}
.proSearchModel .list{margin-top:8px;}
.proSearchModel .list li{line-height:30px; border-bottom:dotted 1px #dadee1; overflow:hidden;_zoom:1;}
.proSearchModel .list .t{display:block;width:120px; float:left; text-align:right; font-weight:normal;color:#333;}
.proSearchModel .list .conditions{ float:left;}
.proSearchModel .list .conditions a{line-height:30px;padding:4px 8px; color:#333;}
.proSearchModel .list .conditions a:hover,.proSearchModel .list .conditions a.actived{color:#fff;background:#d11616;}

.proEara{width:878px; margin:20px auto 0 auto; overflow:hidden;}
.proEara .head{padding:11px 0; }
.proEara .head .left{line-height:22px;}

.proTag{ position:relative; top:-35px; margin:0 auto}
.proTag .tab{padding:0 0 0 40px; overflow:hidden;zoom:1;}
.proTag .tab li{ float:left; display:inline;margin:0 4px 0 0;width:101px; height:35px;line-height:35px;font-size:14px; text-align:center;background:url(img/bgTab_pro.gif) no-repeat; cursor:pointer;}
.proTag .tab li.focus{color:#b11111;font-weight:bold;background:url(img/bgTab_pro.gif) no-repeat 0 -35px;}
.proTag .tabCont{width:870px; margin:0 auto;}
.proTag .tabCont .boxs{padding:30px 0;}

.copyFrom{background:url(img/bg22.gif) repeat-x;}

/****/

/**function model***/
.select{zoom:1; height:22px; position:relative;border:solid 1px #d4d8db;}
.select .input{width:63px;height:22px;line-height:22px; border:none;background:none; text-indent:12px;}
.select .input2{width:33px;height:22px;line-height:22px; border:none;background:none; text-indent:12px;}
.select .btn{width:18px; height:22px;background:url(img/btn01.gif) no-repeat; cursor:pointer;}
.select .drop{background:#f2f2f2; position:absolute;top:21px;left:-1px;border:solid 1px #d4d8db; overflow:visible}
.select .drop p{padding:0 11px; cursor:pointer;}

.select2{zoom:1; position:relative; z-index:0}
.select2 .text{width:225px;height:28px;line-height:28px; border:none;background:url(img/bgJoinSearch.jpg) no-repeat; text-indent:12px; float:left;}
.select2 .btn{width:39px; height:28px;background:url(img/bgJoinSearch.jpg) no-repeat -225px -28px; cursor:pointer;border:none; float:left;}
.select2 .drop{width:262px;border:solid 1px #dbdbdb;position:absolute;top:28px;left:0;background:#fff; z-index:9}
.select2 .drop p{ text-indent:12px; cursor:pointer;}

.select3{width:140px;zoom:1; position:relative; z-index:1}
.select3 .text{width:115px;height:24px;line-height:24px; border:none;background:url(img/bgSelect3.gif) no-repeat; text-indent:12px; float:left;}
.select3 .btn{width:25px; height:24px;background:url(img/bgSelect3.gif) no-repeat -115px 0; cursor:pointer;border:none; float:left;}
.select3 .drop{width:140px;border:solid 1px #dbdbdb;position:absolute;top:24px;left:0;background:#fff; z-index:99}
.select3 .drop p{ text-indent:12px; cursor:pointer;}

.comments{width:886px; margin:0 auto;}
.commentShow{width:884px; height:87px;margin:0 auto;border:solid 1px #e8ebec;background:#fdfdfd;}
.commentShow .leftBox{float:left;width:420px;display:inline;margin:13px 0 0 24px;}
.commentShow .leftBox h4{line-height:28px;font-size:14px;color:#000;}
.commentShow .leftBox .score span{display:block;}
.commentShow .leftBox .poor{display:block;width:114px; height:20px;background:url(img/comments.gif) no-repeat 0 0;}
.commentShow .leftBox .passable{display:block;width:114px; height:20px;background:url(img/comments.gif) no-repeat 0 -20px;}
.commentShow .leftBox .general{display:block;width:114px; height:20px;background:url(img/comments.gif) no-repeat 0 -40px;}
.commentShow .leftBox .good{display:block;width:114px; height:20px;background:url(img/comments.gif) no-repeat 0 -60px;}
.commentShow .leftBox .excellent{display:block;width:114px; height:20px;background:url(img/comments.gif) no-repeat 0 -80px;}

.commentShow .rightBox{float:right;display:inline;width:148px;height:63px;margin:13px 30px 0 0;border-left:solid 1px #e8ebec;}
.commentShow .rightBox p{padding:40px 0 0; text-align:right;}

.comments .poor-small{background:url(img/comments-small.gif) no-repeat right 0;}
.comments .passable-small{background:url(img/comments-small.gif) no-repeat right -43px;}
.comments .general-small{background:url(img/comments-small.gif) no-repeat right -86px;}
.comments .good-small{background:url(img/comments-small.gif) no-repeat right -129px;}
.comments .excellent-small{background:url(img/comments-small.gif) no-repeat right -172px;}


.commentsFn{width:886px; margin:0 auto;background:#fdfdfd;}
.commentsFn label{ width:130px;height:43px;line-height:43px; display:block; float:left;}
.commentsFn .radio{ width:16px; display:block; height:43px; line-height:43px;padding-right:75px; overflow:hidden; float:left;}
.commentsFn .radio input{float:left;margin-top:12px;}
.commentsFn .table td{border-bottom:solid 1px #eff2f4;line-height:56px;}
.commentsFn .table span.t{padding:0 20px 0 0;}
.commentsFn .table em{color:#c4c4c4}
.commentsFn .table .input{width:626px; height:24px;line-height:24px;border:solid 1px #d1d1d1;}
.commentsFn .table .textarea{width:626px; height:97px;line-height:24px;border:solid 1px #d1d1d1;margin:18px 0;}
.commentsFn .table .input2{width:146px; height:24px;line-height:24px;border:solid 1px #d1d1d1;}
.commentsFn .table .submit{width:80px;height:28px;background:url(img/btnSubmit.gif) no-repeat;border:none;cursor:pointer;}

/**tabContent*/
.tabContent{width:886px; margin:70px auto 0 auto;overflow:hidden;}
.tabContent .tab{ overflow:hidden;zoom:1;}
.tabContent .tab li{ float:left;display:inline;color:#333;width:110px; height:35px;line-height:35px; cursor:pointer;background:url(img/tabContentHead.gif) repeat-x 0 0; text-align:center;margin-right:1px;}
.tabContent .tab li.focus{color:#fff;background:url(img/tabContentHead.gif) repeat-x 0 -35px;}
.tabContent .tabCont{padding:20px 0;}
.tabContent .tabCont td,.tabContent .tabCont p{line-height:28px;}

.tabContent2{width:886px; margin:45px auto 0 auto;overflow:hidden;}
.tabContent2 .tab{ overflow:hidden;zoom:1;}
.tabContent2 .tab li{ float:left;display:inline;color:#333;padding:0 30px; font-size:14px; height:35px;line-height:35px; cursor:pointer;background:url(img/tabContentHead.gif) repeat-x 0 0; text-align:center;margin-right:1px;}
.tabContent2 .tab li.focus{color:#fff;background:url(img/tabContentHead.gif) repeat-x 0 -35px;}
.tabContent2 .tabCont{padding:20px 0;}

/**hrTable**/
.hrTableBg{padding-top:5px;background:url(img/bg08.jpg) no-repeat center top;}
.hrTableHead{padding:10px 0 0;}
.hrTableHead th{line-height:36px;}
.hrTableHead .padding{padding-left:22px;}

.hrTable td{height:40px;line-height:40px;}
.hrTable .padding{padding-left:22px;}
.hrTable tr.bg{background:#f3f2f2;}
/**newsInfo**/
.newsCont{width:590px; float:left;margin-top:20px;}
.newsBar{width:252px; float:right;}
.newsTitle{font-size:22px;color:#d11919;line-height:34px;text-align:center; margin-bottom:20px;}
.newPanel{line-height:45px; overflow:hidden;zoom:1;color:#999; border-bottom:solid 1px #ebedee; padding-left:27px;}
.newPanel .return{padding-top:10px;}
.newPanel a{color:#999;}
.newsCont .cont{padding:28px 0;}
.newsCont .cont *{font-size:14px;line-height:26px;}
.pagePanel{padding:15px 20px; border-top:solid 1px #e9ebed;border-bottom:solid 1px #e9ebed;background:#fbfbfc;}
.pagePanel *{line-height:25px;font-size:14px;}
.newsBar .box{width:250px; overflow:hidden; position:relative; border:solid 1px #e7eaec;background:#fbfcfc;padding:0 0 25px 0;}
.newsBar .box .head{line-height:33px;padding:0 0 0 15px;font-size:14px;}
.newsBar .box .cont li{width:250px;}
.newsBar .box h3{padding:0 15px;}
.newsBar .box h3 a{ color:#5f636d;font-weight:bold;}
.newsBar .box .para{padding:0 15px;}
.newsBar .box .prev{ width:18px; height:18px;position:absolute; top:10px;right:29px;}
.newsBar .box .next{ width:17px; height:18px;position:absolute;top:10px;right:12px;}

.newsBar .box2{padding:15px 0 0;}
.newsBar .box2 .head{line-height:38px; border-bottom:solid 1px #e0e4ea;font-size:14px;color:#333;}
.newsBar .box2 .list li{line-height:39px; border-bottom:solid 1px #e0e4ea;background:url(img/bg39.gif) repeat-x;}
.newsBar .box2 .list li a{padding-left:25px;background:url(img/icon9.gif) no-repeat 13px center;}


.pinlun .head{ height:43px;line-height:43px; overflow:hidden;zoom:1;background:url(img/bg09.gif) no-repeat bottom;}
.pinlun .head strong{ float:left;font-size:14px;}
.pinlun a{ float:right;}
.pinlun .pinlunCont{padding:25px 0 35px 17px;background:#fdfdfd; border-left:solid 1px #e8ebec;border-right:solid 1px #e8ebec;border-bottom:solid 1px #e8ebec;}
.pinlun .buttonStyle3,.pinlun .buttonStyle4{margin-right:13px;}
.pinlun .submit{ width:80px; height:26px;background:url(img/btn06.gif) no-repeat; border:none; cursor:pointer;}
.pinlunList {padding-top:20px;}
.pinlunList li{overflow:hidden;zoom:1;padding-bottom:10px;}
.pinlunList li .img{ float:left;width:76px;}
.pinlunList li .img img{ display:block; border:solid 1px #e1e1e1;}
.pinlunList li .img cite{ display:block; text-align:center;}
.pinlunList li .text{ float:left; display:inline;width:449px; border:solid 1px #f3e7c7;padding:10px 0;margin:0 0 0 13px;}
.pinlunList li .text .para{padding:0 15px;font-size:12px;line-height:20px;}
.pinlunList li .text .time{color:#b2b1ad;font-size:12px;padding:0 15px;}

/***formStyle**/
.buttonStyle{width:71px;height:24px;line-height:24px; position:relative;border:solid 1px #d4d8db; text-align:center; cursor:pointer;}
.buttonStyle2{width:114px;height:34px;background:url(img/btnSubmit-2.gif) no-repeat;border:none; cursor:pointer;}
.buttonStyle3{display:block; width:76px;height:28px;background:url(img/btnLink4.gif) no-repeat 0 0; overflow:hidden; text-indent:-999em;}
.buttonStyle4{display:block; width:76px;height:28px;background:url(img/btnLink4.gif) no-repeat 0 -28px; overflow:hidden; text-indent:-999em; margin-top:6px}

.inputStyleModel{height:22px;line-height:22px;border-top:solid 1px #bbbbbb;border-left:solid 1px #bbbbbb; border-right:solid 1px #e4e4e4;border-bottom:solid 1px #e4e4e4;}

.inputStyle01{width:292px; height:22px;line-height:22px;border-top:solid 1px #bbbbbb;border-left:solid 1px #bbbbbb; border-right:solid 1px #e4e4e4;border-bottom:solid 1px #e4e4e4;margin-right:15px;}
.inputStyle02{width:140px; height:22px;line-height:22px;border-top:solid 1px #bbbbbb;border-left:solid 1px #bbbbbb; border-right:solid 1px #e4e4e4;border-bottom:solid 1px #e4e4e4;}
.inputStyle03{width:67px; height:22px;line-height:22px;border-top:solid 1px #bbbbbb;border-left:solid 1px #bbbbbb; border-right:solid 1px #e4e4e4;border-bottom:solid 1px #e4e4e4;}
.inputStyle04{ width:145px; height:24px;line-height:24px; border:solid 1px #e2e2e2; color:#c5c5c5;}

.inputTime{width:140px; height:24px;background:url(img/bgTime.gif) no-repeat;border:none;}
.textEaraStyle{width:594px;height:103px;border-top:solid 1px #bbbbbb;border-left:solid 1px #bbbbbb; border-right:solid 1px #e4e4e4;border-bottom:solid 1px #e4e4e4;}
.textEaraStyle2{ width:450px; height:84px; border:solid 1px #e2e2e2;line-height:26px;}

/****/
.tableStyle td{line-height:40px;padding-left:10px;font-size:14px;}

.tableStyle2{border-top:solid 1px #dee3e8;border-left:solid 1px #dee3e8;}
.tableStyle2 th{border-bottom:solid 1px #dee3e8;border-right:solid 1px #dee3e8;background:#f5f7f9;}
.tableStyle2 td{padding:10px;border-bottom:solid 1px #dee3e8;border-right:solid 1px #dee3e8;}

.tableStyle3 th{background:#f5f7f9;}
.tableStyle3 th.border{border-left:solid 1px #dee3ea;border-right:solid 1px #dee3ea;}
.tableStyle3 tr.bg{background:#f9fafb;}
.tableStyle3 td{line-height:36px;}
.tableStyle3 a.t{padding-left:20px;}

.tableStyle4 {background:url(img/bg08-2.jpg) no-repeat center top;}
.tableStyle4 td{height:35px;line-height:35px;}
.tableStyle4 .padding{padding-left:22px;}
.tableStyle4 tr.bg{background:#f3f2f2;}
