@charset "utf-8";

/* pager style */
.pagen{
	padding:10px 0;
	font-size:12px;
	font-weight:bold;
	line-height:22px;
	text-align:center;
	clear:both;}
.pagen a{
	text-decoration:none;
	color:#ccc;
	background:#fff;
	border:1px solid #CCCCCC;
	padding:3px 6px;
	padding-bottom:2px;
	margin-right:3px}
.pagen b{
	text-decoration:none;
	color:#fff;
	background:#c52120;
	border:1px solid #9f0100;
	padding:3px 6px;
	padding-bottom:2px;
	margin-right:3px}
.pagen a.active{
	background:#c62121;
	border:1px solid #9f0000;
	color:#fff}
.pagen a:hover{
	text-decoration:none;
	color:#fff;
	background:#c62121;
	border:1px solid #fd1a2b}
